@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "CSS Comments";
}

<div class="container">
    <header class="header">
        <h1>CSS Comments</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>CSS Sections</h2>
        <ul>
            @{
                // If there are no sections
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    // For every section that needs to be displayed
                    foreach (Section s in @Model?.Sections)
                    {
                        // Creates a clickable that takes you to the specified section
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@s.SectionName">@s.SectionDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        <h2>What are CSS Comments?</h2>

        <p>CSS comments are used to add notes, explanations, or reminders within your CSS code. 
            Comments help make your code more readable for yourself or others who may be working on the same code. 
            They are ignored by the browser, meaning they do not affect the rendering of the webpage.</p>

        <p>Key Point About CSS Comments:</p>

        <ul>
            Multiline Comments:
            <li>
                Comments can span multiple lines if needed.
            </li>
            Inline Comments:
            <li>
                You can also add comments at the end of a line, after a style rule.
            </li>
            Commenting Out Code:
            <li>
                Comments can be used to temporarily "comment out" parts of your code. This is helpful for testing or debugging.
            </li>
            No Nesting:
            <li>
                CSS does not support nested comments. If you try to nest a comment inside another comment, it will cause an error.
            </li>
        </ul>
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <ul>
            @{
                // If there are no bookmarks
                if (@Model?.Bookmarks == null)
                {
                    <li>
                        No bookmarks to display!
                    </li>
                }
                else
                {
                    // For every bookmark that needs to be displayed
                    foreach (Bookmark b in @Model?.Bookmarks)
                    {
                        // Creates a clickable that takes you to the specified bookmark
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@b.BookmarkName">@b.BookmarkDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>