@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "CSS Margins";
}

<div class="container">
    <header class="header">
        <h1>CSS Margins</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>CSS Sections</h2>
        <ul>
            @{
                // If there are no sections
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    // For every section that needs to be displayed
                    foreach (Section s in @Model?.Sections)
                    {
                        // Creates a clickable that takes you to the specified section
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@s.SectionName">@s.SectionDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        <h2>What are CSS Margins?</h2>

        <p>
            In CSS, margins are used to create space outside of an element, separating it from other elements on the page. 
            Margins provide a way to control the spacing between an element and its neighbors, allowing for more flexible layouts. 
            They don't affect the size of the element itself but influence the space around it.
        </p>

        <p>Key Points About Margins:</p>

        <ul>
            <li>
                Margins create external space, whereas padding creates internal space between the element's content and its border.
            </li>
            <li>
                Margins are transparent, meaning the background color or image of the element does not extend into the margin area.
            </li>
            <li>
                Margins can be used to control the distance between elements, making layouts more visually appealing and organized.
            </li>
        </ul>

        <p>CSS margins are a good tool for controlling the spacing around elements and creating layouts. 
            By adjusting the margins, you can manage the positioning of elements relative to one another.</p>
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <ul>
            @{
                // If there are no bookmarks
                if (@Model?.Bookmarks == null)
                {
                    <li>
                        No bookmarks to display!
                    </li>
                }
                else
                {
                    // For every bookmark that needs to be displayed
                    foreach (Bookmark b in @Model?.Bookmarks)
                    {
                        // Creates a clickable that takes you to the specified bookmark
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@b.BookmarkName">@b.BookmarkDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>