@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "HTML Elements";
}

<div class="container">
    <header class="header">
        <h1>HTML Elements</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>HTML Sections</h2>
        <ul>
            @{
                // If there are no sections
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    // For every section that needs to be displayed
                    foreach (Section s in @Model?.Sections)
                    {
                        // Creates a clickable that takes you to the specified section
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@s.SectionName">@s.SectionDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        <h2>What are HTML Elements?</h2>
        <p>
            HTML elements are the building blocks of a web page. An HTML element defines a piece of content on the page and how it should be displayed by the browser. 
            Each element is made up of tags, which tell the browser how to structure and display the content.
        </p>
        <p>
            An HTML element typically consists of three parts:
        </p>
        <ul>
            <li>Opening Tag: The start of the element, usually containing the element’s name. It tells the browser that the element begins here.</li>

            <li>Content: The actual data or content inside the element. This can be text, images, links, or other elements.</li>

            <li>Closing Tag: The end of the element, indicating where the element finishes. It’s similar to the opening tag, but with a slash (/) before the element name.</li>
        </ul>

        <p>There are many types of HTML elements, to name a few:</p>
        <ul>
            <li>Structural Elements: These elements help structure the layout of a webpage.</li>

            <li>Text Elements: These elements define and format text on the page.</li>

            <li>Link and Navigation Elements: These elements create clickable links to navigate between pages or websites.</li>

            <li>Image and Media Elements: These elements are used to embed images, videos, audio, etc.</li>

            <li>List Elements: These elements are used to display lists of items.</li>


            <li>And many more! (Soon to be added!)</li>
        </ul>

        <p>
            Understanding HTML elements is key to building and structuring any webpage, as they dictate how content is displayed in the browser.
        </p>
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <ul>
            @{
                // If there are no bookmarks
                if (@Model?.Bookmarks == null)
                {
                    <li>
                        No bookmarks to display!
                    </li>
                }
                else
                {
                    // For every bookmark that needs to be displayed
                    foreach (Bookmark b in @Model?.Bookmarks)
                    {
                        // Creates a clickable that takes you to the specified bookmark
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@b.BookmarkName">@b.BookmarkDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>