@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "HTML Links";
}

<div class="container">
    <header class="header">
        <h1>HTML Links</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>HTML Sections</h2>
        <ul>
            @{
                // If there are no sections
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    // For every section that needs to be displayed
                    foreach (Section s in @Model?.Sections)
                    {
                        // Creates a clickable that takes you to the specified section
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@s.SectionName">@s.SectionDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        <h2>What are HTML Links?</h2>
        <p>
            HTML links (also called hyperlinks) are used to connect one webpage to another, or to link to external resources like images, files, or other websites. 
            They are created using the "a" (anchor) tag, which allows users to click and navigate to a different page or location.
        </p>
        <p>Types of Links in HTML:</p>
        <ul>
            Links to Other Web Pages:
            <li>
                You can link to other pages on the same website or to external websites.
            </li>

            Link to Specific Sections of a Page:
            <li>
                Links can also be used to navigate to specific sections of the same webpage, which is called an anchor link. 
                This is done using the id attribute on the target section and linking to it.
            </li>

            Links to Files:
            <li>You can also create links to downloadable files like PDFs, images, or videos.</li>
        </ul>

        <p>
            Summarily, HTML links are created using the "a" tag, and they allow users to navigate to other pages, sections within the same page, or external resources. 
            Links can be customized with various attributes like "href", "target, "title, and "rel to control their behavior. 
            Links are a fundamental part of the web, providing navigation between different resources, whether it's within the same website or to external websites and files.
        </p>
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <ul>
            @{
                // If there are no bookmarks
                if (@Model?.Bookmarks == null)
                {
                    <li>
                        No bookmarks to display!
                    </li>
                }
                else
                {
                    // For every bookmark that needs to be displayed
                    foreach (Bookmark b in @Model?.Bookmarks)
                    {
                        // Creates a clickable that takes you to the specified bookmark
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Sections" asp-action="@b.BookmarkName">@b.BookmarkDisplay</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>