@model PortfolioProject.Models.SectionsBookmarksViewModel

@{
    ViewData["Title"] = "Javascript Introduction";
}

<div class="container">
    <header class="header">
        <h1>Javascript Introduction</h1>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>Javascript Sections</h2>
        <ul>
            @{
                // If there are no sections
                if (@Model?.Sections == null)
                {
                    <li>
                        No sections to display!
                    </li>
                }
                else
                {
                    // For every section that needs to be displayed
                    foreach (Section s in @Model?.Sections)
                    {
                        // Creates a clickable that takes you to the specified section
                        <li>
                            <form method="post" asp-controller="Sections" asp-action="JavascriptIndex">
                                <input type="hidden" name="sectionName" value="@s.SectionName" />
                                <button type="submit" class="nav-link">
                                    @s.SectionDisplay
                                </button>
                            </form>
                        </li>
                    }
                }
            }
        </ul>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        @Html.Raw(@Model.SectionToDisplay.SectionHTML) <!-- This should display everything located in the SectionHTML property of the chosen Section! -->
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <ul>

        </ul>
    </div>
</div>