@{
    ViewData["Title"] = "CSS Introduction";
}

<div class="container">
    <header class="header">
        <h1>@ViewData</h1>
        <p>Welcome to the CSS Introduction!</p>
    </header>
</div>

<div class="container">
    <!-- The left sidebar -->
    <div class="sidebar left">
        <h2>CSS Sections</h2>
        <p>This text should become a vertical list of all CSS sections as they are added!</p>
    </div>

    <!-- Section for most webpage content -->
    <div class="content">
        <h2>Welcome!</h2>
        <p>This should contain a blurb of what CSS is and that you can do with it on a very general basis.</p>
    </div>

    <!-- The right sidebar -->
    <div class="sidebar right">
        <h2>Bookmarks Sidebar</h2>
        <p>This sidebar will display all bookmarks of the current logged in user!</p>
    </div>
</div>